export("analyzeDuprates")
export("cumulativeDuprateBarplot")
export("duprateExpBoxplot")
export("duprateExpDensPlot")
export("duprateExpFit")
export("duprateExpIdentify")
export("duprateExpPlot")
export("expressionHist")
export("getDupMatStats")
export("getDynamicRange")
export("markDuplicates")
export("readcountExpBoxplot")
import(Rsubread)
